asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
certifi==2023.7.22
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
charset-normalizer==3.2.0
constantly==15.1.0
cryptography==41.0.4
daphne==4.0.0
Django==4.2.3
django-cors-headers==4.1.0
django-environ==0.10.0
django-redis==5.3.0
django-webpush==0.3.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.26.3
http-ece==1.1.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
lxml==4.9.3
msgpack==1.0.5
pdf2image==1.16.3
Pillow==10.0.0
py-vapid==1.9.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.7.0
pyOpenSSL==23.2.0
python-docx==0.8.11
pytz==2023.3
pywebpush==1.9.4
PyYAML==6.0
redis==4.6.0
referencing==0.29.1
requests==2.31.0
rpds-py==0.8.8
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.4
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
zope.interface==6.0
